@model Rooms
@{
    ViewData["Title"] = "Edit Room Information";
}


<div class="container col-sm-10 bg-secondary" dir="rtl">
		<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
			<!--begin::Content wrapper-->
			<div class="d-flex flex-column flex-column-fluid">
				
				<!--begin::Content-->
				<div id="kt_app_content p-10" class="app-content flex-column-fluid">
					<!--begin::Content container-->
					<div id="kt_app_content_container p-5" class="app-container container-xxl">
						<div class="card">
						<!--begin::Card body-->
                            <div class="card-body pt-0">
                                <div class="row m-4 text-center">
                                    <h4 style="font-family:cairo ; font-weight:bolder" class="mt-5">تعديل بيانات الفندق</h4>
                                </div>
                                <div class="row">
								<form asp-action="UpdateRoom" asp-controller="Dashboard" method="post">
                                        <input type="hidden" asp-for="@Model.Id" />
                                        <div class="row m-4" style="font-family:cairo">
                                            <div class="col">
											<label for="IdHotel" class="required fs-6 fw-semibold mb-2">رقم الفندق </label>
											<input type="text" id="IdHotel" name="IdHotel" class="form-control " asp-for="@Model.IdHotel" required />

                                            </div>
                                        </div>
									
									<div class="row m-4">
										<div class="col">
											<label for="RoomNo" class="required fs-6 fw-semibold mb-2" style="font-family:Cairo"> رقم الغرفة </label>
											<input type="text" id="RoomNo" name="RoomNo" class="form-control form-control-solid" asp-for="@Model.RoomNo" required />

										</div>


										<div class="col">
											<label for="Type" class="required fs-6 fw-semibold mb-2" style="font-family:Cairo">نوع الغرفة </label>
											<input type="text" id="Type" name="Type" class="form-control form-control-solid" asp-for="@Model.Type" required />

										</div>
									</div>
									<div class="row m-4">
										<div class="col">
											<label for="Price" class="required fs-6 fw-semibold mb-2" style="font-family:Cairo"> السعر </label>
											<input type="text" id="Price" name="Price" class="form-control form-control-solid" asp-for="@Model.Price" required />

										</div>
									</div>
									<div class="row m-4">
										<div class="col">
											<label for="Image" class="required fs-6 fw-semibold mb-2" style="font-family:Cairo">الصورة </label>
											<input type="text" id="Image" name="Image" class="form-control form-control-solid" asp-for="@Model.Image" required />

										</div>
									</div>
                                        <div class="row m-4 text-center">
                                            <div class="col">

                                                <button class="btn btn-primary" type="submit" style="font-family:cairo">حفظ</button>
                    
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <!--end::Card body-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  